nodered-ledsigns.flow
[{"id":"20e475be.3e558a","type":"tab","label":"Flow 1"},{"id":"be6dbef1.96a56","type":"tab","label":"webpage","disabled":false,"info":""},{"id":"bcdbcc0c.536e68","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"2400","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"a6a73a19.f1a0b8","type":"twitter-credentials","z":"","screen_name":"@melbpcledsigns"},{"id":"8579a3d0.3d1e3","type":"inject","z":"20e475be.3e558a","name":"","topic":"1","payload":"I AM GOD!","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":420,"wires":[["5449b0ad.1352f"]]},{"id":"5449b0ad.1352f","type":"function","z":"20e475be.3e558a","name":"","func":"var oldpayload = msg.payload;\nvar topic = parseInt(msg.topic);\nvar signid;\n\nif (topic == 1) {\n    signid = \"\\x79\";\n}\n\nelse {\n    signid = \"\\x80\";\n}\n\nmsg.id = signid;\nmsg.payload = \"\\x1B\\x40\\x44\" + signid + \"\\x09\\x28\\x4C\\x30\\x29\\x0D\" + oldpayload + \"\\x16\\x1B\\x40\\x46\" + signid;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["38a88d46.db8cea","9ee06612.99cf1"]]},{"id":"38a88d46.db8cea","type":"serial out","z":"20e475be.3e558a","name":"","serial":"bcdbcc0c.536e68","x":822,"y":239,"wires":[]},{"id":"4d0da62d.9445a","type":"comment","z":"20e475be.3e558a","name":"INITIALISATION FOR ID=10","info":"\"10\" in hex is:\n\n\\x31 \\x30","x":178.5,"y":27.199996948242188,"wires":[]},{"id":"438842e0.7020dc","type":"inject","z":"20e475be.3e558a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":60,"wires":[["42bdc3c.835213c"]]},{"id":"42bdc3c.835213c","type":"function","z":"20e475be.3e558a","name":"","func":"msg.payload = \"\\x1B\\x40\\x49\\x1B\\x03\\x0F\\x0C\\x04\\x1B\\x40\\x41\\x30\\x30\\x30\\x30\\x31\\x30\\x80\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["38a88d46.db8cea"]]},{"id":"f841b4de.f32fd","type":"comment","z":"20e475be.3e558a","name":"clear screen","info":"","x":130,"y":200,"wires":[]},{"id":"5b9143e8.42049c","type":"inject","z":"20e475be.3e558a","name":"","topic":"1","payload":"CLEAR SCREEN 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":240,"wires":[["d7c06a04.fe4848"]]},{"id":"d7c06a04.fe4848","type":"function","z":"20e475be.3e558a","name":"","func":"msg.payload = \"\\x1B\\x40\\x44\\x79\\x09\\x28\\x4C\\x30\\x29\\x0D \\x16\\x1B\\x40\\x46\\x79\" + \"\\x1B\\x40\\x44\\x80\\x09\\x28\\x4C\\x30\\x29\\x0D \\x16\\x1B\\x40\\x46\\x80\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["38a88d46.db8cea"]]},{"id":"f8293ea4.1f4af8","type":"comment","z":"20e475be.3e558a","name":"INITIALISATION FOR ID=04","info":"\n\"04\" in hex is:\n\\x30 \\x34","x":180,"y":100,"wires":[]},{"id":"8ae669ad.a537d8","type":"inject","z":"20e475be.3e558a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":140,"wires":[["3dda17cc.70fa48"]]},{"id":"3dda17cc.70fa48","type":"function","z":"20e475be.3e558a","name":"","func":"msg.payload = \"\\x1B\\x40\\x49\\x1B\\x03\\x0F\\x0C\\x04\\x1B\\x40\\x41\\x30\\x30\\x30\\x30\\x30\\x34\\x79\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["38a88d46.db8cea"]]},{"id":"cab62d1f.4e9218","type":"inject","z":"20e475be.3e558a","name":"","topic":"2","payload":"CLEAR SCREEN 2","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":280,"wires":[["d7c06a04.fe4848"]]},{"id":"5d40b022.d02ed","type":"inject","z":"20e475be.3e558a","name":"","topic":"2","payload":"NO, I AM GOD!","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":460,"wires":[["5449b0ad.1352f"]]},{"id":"9ee06612.99cf1","type":"debug","z":"20e475be.3e558a","name":"","active":true,"console":"false","complete":"id","x":790,"y":440,"wires":[]},{"id":"3d2f243d.fda3dc","type":"twitter out","z":"20e475be.3e558a","twitter":"a6a73a19.f1a0b8","name":"Tweet","x":310,"y":620,"wires":[]},{"id":"5d7b2ea2.8378b","type":"twitter in","z":"20e475be.3e558a","twitter":"a6a73a19.f1a0b8","tags":"@melbpcledsigns","user":"user","name":"","topic":"tweets","inputs":0,"x":150,"y":680,"wires":[["63ea4442.2060b4"]]},{"id":"fc4ce9cc.4e8cf8","type":"inject","z":"20e475be.3e558a","name":"","topic":"","payload":"now Ready To Go!","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":620,"wires":[["3d2f243d.fda3dc"]]},{"id":"63ea4442.2060b4","type":"change","z":"20e475be.3e558a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":680,"wires":[["5449b0ad.1352f","19ae30da.bdaa5f"]]},{"id":"19ae30da.bdaa5f","type":"debug","z":"20e475be.3e558a","name":"","active":true,"console":"false","complete":"false","x":590,"y":680,"wires":[]},{"id":"215214d1.d311fc","type":"inject","z":"20e475be.3e558a","name":"Test long messgae","topic":"1","payload":"Hello this is a really long string hopefully scrolling","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":380,"wires":[["20884d79.837412"]]},{"id":"20884d79.837412","type":"function","z":"20e475be.3e558a","name":"","func":"var oldpayload = msg.payload;\nvar topic = parseInt(msg.topic);\nvar signid;\n\nif (topic == 1) {\n    signid = \"\\x79\";\n}\n\nelse {\n    signid = \"\\x80\";\n}\n\nmsg.id = signid;\nmsg.payload = \"\\x1B\\x40\\x44\" + signid + \"\\x09\\x28\\x52\\x32\\x29\\x0D\" + oldpayload + \"\\x16\\x1B\\x40\\x46\" + signid;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["38a88d46.db8cea"]]},{"id":"cec5b39e.78272","type":"comment","z":"20e475be.3e558a","name":"Twitter","info":"","x":90,"y":580,"wires":[]},{"id":"a2a32b90.261c","type":"comment","z":"20e475be.3e558a","name":"Test Messages","info":"","x":140,"y":340,"wires":[]},{"id":"165d2010.e6d2c","type":"http in","z":"be6dbef1.96a56","name":"","url":"/signs","method":"get","upload":false,"swaggerDoc":"","x":181.49998474121094,"y":117,"wires":[["19dc28f.bab5bd7"]]},{"id":"c86407a5.c3f4b8","type":"http response","z":"be6dbef1.96a56","name":"","statusCode":"","headers":{},"x":730,"y":100,"wires":[]},{"id":"19dc28f.bab5bd7","type":"template","z":"be6dbef1.96a56","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html>\n<head>\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n            document.querySelector('#submitMessage').addEventListener('click', function() {\n                return false;\n            })\n        });\n    </script>\n</head>\n<body>\n<form id=\"boo\" method=\"post\" action=\"/showMessage\">\n<label for=\"message\">Message</label>\n<input type=\"text\" name=\"message\"/>\n<label for=\"message\">Panel Number</label>\n<select name=\"panel\">\n    <option value=\"1\">1</option>\n    <option value=\"2\">2</option>\n</select>\n<div>\n    <button id=\"submitMessage\" name=\"submit\">Submit</button>\n</div>\n</div>    \n</body>    \n</html>","output":"str","x":430.49998474121094,"y":110.59999084472656,"wires":[["c86407a5.c3f4b8"]]},{"id":"8d316f11.37c8e8","type":"http in","z":"20e475be.3e558a","name":"","url":"/showMessage","method":"post","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["6bc5217b.8d1468","4303f9a9.142068","593e1445.8853ec"]]},{"id":"6bc5217b.8d1468","type":"http response","z":"20e475be.3e558a","name":"","statusCode":"302","headers":{"Location":"http://192.168.81.93:1880/signs"},"x":367.49998474121094,"y":576.9999847412109,"wires":[]},{"id":"13e38e3d.173752","type":"debug","z":"20e475be.3e558a","name":"","active":true,"console":"false","complete":"true","x":590,"y":500,"wires":[]},{"id":"4303f9a9.142068","type":"debug","z":"20e475be.3e558a","name":"","active":true,"console":"false","complete":"false","x":577.4999847412109,"y":552,"wires":[]},{"id":"593e1445.8853ec","type":"function","z":"20e475be.3e558a","name":"","func":"var newmsg = {\n    payload: msg.payload.message,\n    topic: msg.payload.panel\n};\nreturn newmsg;","outputs":1,"noerr":0,"x":387.49998474121094,"y":492,"wires":[["13e38e3d.173752","5449b0ad.1352f"]]},{"id":"4333d027.07721","type":"comment","z":"20e475be.3e558a","name":"webpage for signs http://192.168.81.93:1880/signs","info":"http://192.168.81.93:1880/signs","x":350,"y":760,"wires":[]},{"id":"62146ab6.5053bc","type":"comment","z":"be6dbef1.96a56","name":"CONTENTS OF WEBPAGE HERE","info":"","x":420,"y":60,"wires":[]}]
